<div class="jumbotron text-center">
    <h1>{{ tagline }}</h1>
<!--
    <p>{{ tagline }}</p>
	<table class='table table-bordered'>
		<caption>SONGS</caption>
		<td>Artist</td>
		<td>Title</td>
		<td>Genre</td>
		<tbody>
			<tr ng-repeat="song in playlist.playlistsongs">
				<td>{{song.artist}}</td>
				<td>{{song.title}}</td>
				<td>{{song.genre}}</td>
			</tr>
		</tbody>
	</table> 
-->
	<table st-table="displayedCollection" st-safe-src="rowCollection" class="table table-striped">
		<thead>
			<tr>
				<th st-sort="artist">Artist</th>
				<th st-sort="title">Title</th>
				<th st-sort="genre">Genre</th>
				<th>VIDEO</th>
				<th>Delete</th>
			</tr>
			<tr>
				<th colspan="5"><input st-search="" class="form-control" placeholder="global search ..." type="text"/></th>
			</tr>
		</thead>
		<tbody>
			<!--<tr ng-repeat="row in displayedCollection" ng-click="go(row)" class="repeat-animation">-->
			<tr ng-repeat="row in displayedCollection" class="repeat-animation">
				<td>{{row.artist}}</td>
				<td>{{row.title}}</td>
				<td>{{row.genre}}</td>
				<td ng-click="play(row)"><button type="button" id="button_play" class="btn">
      <i class="glyphicon glyphicon-play"></i>
    </button></td>
				<!--<td><iframe width="420" height="35" src="{{row.url | trustUrl}}" frameborder="0" allowfullscreen> </iframe></td>-->
				<td>
					<button type="button" ng-click="removeItem(row)" class="btn btn-sm btn-danger">
						<i class="glyphicon glyphicon-remove-circle">
						</i>
					</button>
				</td>
			</tr>
		</tbody>
	</table>
</div>