

<div class="jumbotron text-center">
	<h1>{{ tagline }}</h1>


<table st-table="songCollection" class="table table-striped">
		<thead>
		<tr>
			<th st-sort="artist">artist</th>
			<th st-sort="title">title</th>
			<th st-sort="genre">genre</th>
			<th>link</th>
		</tr>
		<tr>
			<th>
				<input st-search="'artist'" placeholder="search for artist" class="input-sm form-control" type="search"/>
			</th>
			<th colspan="4">
				<input st-search placeholder="global search" class="input-sm form-control" type="search"/>
			</th>
		</tr>
		</thead>
		<tbody>
		<tr ng-repeat="song in songs">
			<td>{{song.artist}}</td>
			<td>{{song.title}}</td>
			<td>{{song.genre}}</td>
			<td><a ng-href="{{song.url}}">link</a></td>
		</tr>
		</tbody>
		<tfoot>
			<tr>
				<td colspan="4" class="text-center">
					<div st-pagination="3" st-items-by-page="10" st-displayed-pages="10"></div>
				</td>
			</tr>
		</tfoot>
	</table>

<!-- EXAMPLE FROM: http://lorenzofox3.github.io/smart-table-website/ 

USE paginationCtrl.js to get it to work!


-->

<table st-table="rowCollection" class="table table-striped">
		<thead>
		<tr>
			<th st-sort="firstName">first name</th>
			<th st-sort="lastName">last name</th>
			<th st-sort="birthDate">birth date</th>
			<th st-sort="balance">balance</th>
			<th>email</th>
		</tr>
		<tr>
			<th>
				<input st-search="'firstName'" placeholder="search for firstname" class="input-sm form-control" type="search"/>
			</th>
			<th colspan="4">
				<input st-search placeholder="global search" class="input-sm form-control" type="search"/>
			</th>
		</tr>
		</thead>
		<tbody>
		<tr ng-repeat="row in rowCollection">
			<td>{{row.firstName | uppercase}}</td>
			<td>{{row.lastName}}</td>
			<td>{{row.birthDate | date}}</td>
			<td>{{row.balance | currency}}</td>
			<td><a ng-href="mailto:{{row.email}}">email</a></td>
		</tr>
		</tbody>
		<tfoot>
			<tr>
				<td colspan="5" class="text-center">
					<div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="7"></div>
				</td>
			</tr>
		</tfoot>
	</table>


	<div ng-controller="safeCtrl">

		<button type="button" ng-click="addRandomItem(row)" class="btn btn-sm btn-success">
			<i class="glyphicon glyphicon-plus">
			</i> Add random item
		</button>

		<table st-table="displayedCollection" st-safe-src="rowCollection" class="table table-striped">
			<thead>
			<tr>
				<th st-sort="firstName">first name</th>
				<th st-sort="lastName">last name</th>
				<th st-sort="birthDate">birth date</th>
				<th st-sort="balance">balance</th>
			</tr>
			<tr>
				<th colspan="5"><input st-search="" class="form-control" placeholder="global search ..." type="text"/></th>
			</tr>
			</thead>
			<tbody>
			<tr ng-repeat="row in displayedCollection">
				<td>{{row.firstName}}</td>
				<td>{{row.lastName}}</td>
				<td>{{row.birthDate}}</td>
				<td>{{row.balance}}</td>
				<td>
				<button type="button" ng-click="removeItem(row)" class="btn btn-sm btn-danger">
					<i class="glyphicon glyphicon-remove-circle">
					</i>
				</button>
				</td>
			</tr>
			</tbody>
		</table>

	</div>




</div>