<div class="jumbotron text-center">
	<p>{{ tagline }}</p>
	<table class='table table-bordered'>
		<caption>LIST OF ALL SONGS</caption>
		<thead>
			<!-- your table head -->
		</thead>
		<tr ng-repeat="x in songs">
			<td>{{x.name}}</td> 
			<td>{{x.url}}</td>
			<td>
		<iframe width="560" height="315" src={{x.url}} frameborder="0" allowfullscreen></iframe>
		</td>
		<td>
		<iframe width="560" height="315" src="https://www.youtube.com/embed/BL-3QvC6bq4" frameborder="0" allowfullscreen></iframe>
		</td>
		</tr>
	</table> 
</div>