<div class="jumbotron text-center">
	<h1>{{ tagline }}</h1>

	<table st-table="displayedCollection" st-safe-src="rowCollection" class="table table-striped">
		<thead>
			<tr>
				<th st-sort="artist">Artist</th>
				<th st-sort="title">Title</th>
				<th st-sort="genre">Genre</th>
				<th st-sort="url">URL</th>
			</tr>
			<tr>
				<th colspan="5"><input st-search="" class="form-control" placeholder="global search ..." type="text"/></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="row in displayedCollection">
				<td>{{row.artist}}</td>
				<td>{{row.title}}</td>
				<td>{{row.genre}}</td>
				<td>{{row.url}}</td>
				<td>
					<button type="button" ng-click="removeItem(row)" class="btn btn-sm btn-danger">
						<i class="glyphicon glyphicon-remove-circle">
						</i>
					</button>
				</td>
			</tr>
		</tbody>
	</table>

</div>