<div class="jumbotron text-center">
	<p>{{ tagline }}</p>
	<table class='table table-bordered'>
		<caption>LIST OF ALL SONGS</caption>
		<thead>{{ tagline }}</thead>
		<tr>
		<td>Artist</td>
		<td>Title</td>
		<td>Genre</td>
		<td>Url</td>
		<td>fungerar ej</td>
		<td>Video</td>
		</tr>
		<tr ng-repeat="x in songs">
			<td>{{x.artist}}</td>
			<td>{{x.title}}</td>
			<td>{{x.genre}}</td> 
			<td>{{x.url}}</td>
			<td><iframe width="560" height="315" src={{x.url}} frameborder="0" allowfullscreen></iframe></td>
			<td>
			<iframe width="460" height="215" ng-src="http://www.youtube.com/embed/2Ai3m2P5WKg" frameborder="0" allowfullscreen></iframe>
			</td>
		</tr>
	</table> 
</div>
