<div class="jumbotron text-center">
	<!-- Input fields for playlist -->
	<table st-table="displayedCollection" st-safe-src="rowCollection" class="table table-striped">
		<thead>
		<h1>{{yourLibrary}}</h1>
			<tr>
				<th st-sort="artist">Artist</th>
				<th st-sort="title">Title</th>
				<th st-sort="genre">Genre</th>
				<th>Video</th>
				<th>Go to</th>
				<th>Delete</th>
			</tr>
			<tr>
				<th colspan="5"><input st-search="" class="form-control" placeholder="global search ..." type="text"/></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="row in displayedCollection" class="repeat-animation">
				<td>{{row.artist}}</td>
				<td>{{row.title}}</td>
				<td>{{row.genre}}</td>
				<td><iframe ob-lazytube width="420" height="170" src="{{row.url | trustUrl}}" frameborder="0" allowfullscreen></iframe></td>
				<td>
					<button type="button" ng-click="goToSong(row)" class="btn btn-sm btn-success">
						<i class="glyphicon glyphicon-chevron-right">
						</i>
					</button>
				</td>
				<td>
					<button type="button" ng-click="removeItem(row)" class="btn btn-sm btn-danger">
						<i class="glyphicon glyphicon-remove-circle">
						</i>
					</button>
				</td>
			</tr>
		</tbody>
	</table>
</div>